<div id="carouselDiversoes" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="~/css/2040ma_1.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="~/css/aluguel-de-brinquedos-sp-festas-eventos-infantil-criancas-inflaveis-baby-eventos-bg-top.jpeg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="~/css/page-1_img01.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselDiversoes" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselDiversoes" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>